
<div class="container">

  <h3>Customers currently waiting to see a mechanic:</h3>
  <hr>   

  <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Place in Line</th>
          <th scope="col">Customer</th>
          <th scope="col">Repair</th>
          <th scope="col">Additional Info</th>
          <th scope="col">Phone #</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cut of customers; let i=index">
          <th scope="row">{{i}}</th>
          <td>{{cut.name}}</td>
          <td>{{cut.repair}}</td>
          <td>{{cut.addl}}</td>
          <td>{{cut.pnumber}}</td>
          <td><button type="button" (click)="removeIt()" class="btn btn-danger " >X</button></td>
        </tr>
      </tbody>
    </table>



  

</div>